.content {
    margin: 0 auto;
    width: 1200px;
}

.title {
    margin: 20px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.search {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 25px;
}

.cat {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.selected {
    background-color: #494949;
    color: #fff;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.button {
    display: inline-block;
    padding: 2px 4px;
    font-size: 16px;
    margin:5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 5px;
    color: #3498db;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: #3498db;
        color: white;
    }
}