.container {
  width: 1240px;
  margin: auto;
}

.contents{
  display: flex;
  margin-top:30px;
}

.select{
  display:flex;
  width:500px;
  height:100%;
  background-color: #eeeeeeb2;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  position:relative;
}

.h2{
  text-align: center;
  margin-top:15px;
}

.regionSelect{
  margin:20px 20px;
  border-top: 1px solid #cccccc;
  padding-top:20px;
}

.selected {
  background-color: #cccccc;
  color:black;
  font-weight: bold;
  /* 다른 스타일 속성들을 추가로 지정할 수 있습니다 */
}

.do {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  color:#999999
}

.doName {
  font-size: 1.3rem;
  padding: 5px 10px;
  margin:10px;
  border-radius: 25px;
  cursor: pointer;
}

.si {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin:5px;
  border-top: 1px solid #cccccc;
  color:#999999

}

.siName{
  padding: 5px 10px;
  margin:10px;
  cursor: pointer;
  border-radius: 25px;
}

.categorySelect {
  margin:40px 20px;
  border-top: 1px solid #cccccc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  color:#999999

}

.cat{
  padding: 5px 10px;
  margin:10px;
  cursor: pointer;
  border-radius: 25px;
}

.datas{
  width:100%;
  margin-left:25px;
}

.lists{
  width:100%;
  cursor: pointer;
}

.list{
  height:180px;
  margin:20px;
  padding:10px;
  border-top: 1px solid #cccccc;
  display: flex;
  align-items: center;
}

.imgBox{
  width:250px;
  height:150px;
}

.img{
  width:100%;
  height:100%;
  object-fit: 'fill';
}

.cont{
  margin-left:20px;
  position: relative;
  width:100%;
}
.title{

}

.icon{
  position:absolute;
  right:10px;
  top:10px;
  size:50px;
  color:#555555;
  cursor: pointer;
  z-index: 10;
}

.PaginationBox {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.PaginationBox ul {
  list-style: none;
  padding: 0;
}

.PaginationBox li {
  display: inline-block;
  width: 30px;
  height: 30px;
  /*border: 1px solid #e2e2e2;*/
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.PaginationBox li:first-child {
  border-radius: 5px 0 0 5px;
}

.PaginationBox li:last-child {
  border-radius: 0 5px 5px 0;
}
.PaginationBox li a {
  text-decoration: none;
  color: #18415c;
  font-size: 1rem;
}

.PaginationBox li.active a {
  color: white;
}

.PaginationBox li.active {
  background-color: #18415c;
}

.PaginationBox li a:hover,
.PaginationBox li a.active {
  color: black;
}