.container {
  width: 250px;
  /* height: 250px; */
  display: flex;
  flex-direction: column;
  /*나중에 100% 로 변경*/
  margin: auto;
  /* background-color: rgba(109, 103, 34, 0.566); */
  color: black;
  z-index: 999;
}
.cName{
  text-align: center;
  font-size: xx-large;
  margin-top: 5%;
}
.gathering {
  margin-top: 3%;
  display: flex;
  width:100%;
  flex: 1;
  flex-direction: row;
  height: 120px;
  align-items: center;
}
.gatheringName{
  flex:1;
  justify-content: center;
  display: flex;
  align-items: center;
}
.gatheringElements{
  flex:5
}
.gatheringEle {
  flex: 1;
  font-size: larger;
  border: 2px solid #7690f1;
  background-color: white;
  cursor: pointer;
  margin: auto;
  margin: 5%;
  min-width: 100px;
  height: 50px;
  border-radius: 8.5px;
  max-width: 100px;
  color: #7690f1;
}
.gatheringEles {
  flex: 1;
  /* border: 1px solid black; */
  border: none;
  font-size: larger;
  background-color: #7690f1;
  cursor: pointer;
  margin: auto;
  margin: 5%;
  min-width: 100px;
  height: 50px;
  border-radius: 5px;
  max-width: 150px;
  color: white;
}
.offset {
  margin-top: 3%;
  display: flex;
  width:100%;
  flex: 1;
  flex-direction: row;
  height: 120px;
  align-items: center;
}
.offsetName{
  flex:1;
  justify-content: center;
  display: flex;
  align-items: center;
}
.offsetElements{
  flex:5;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  height:100%;

}
.time{
  margin:3%;
  margin-left: 7%;
  
}
.buttons{
  display: flex;
  justify-content: end;
  margin-right: 3%;
  margin-bottom: 2%;
  margin-top: -4%;

}
.addButton{
  border: none;
  cursor: pointer;
  font-size: large;
  background-color: white;
  color: #7690f1;
  width:100px;
  height:50px;
  border-radius: 5px;
  margin:2%;
  margin-top: none;
  margin-right: none;
}

.closeButton{
  font-size: large;
  border:none;
  background-color: #7690f1;
  cursor: pointer;
  color:white;
  width:100px;
  height:50px;
  border-radius: 5px;
  margin:2%;
  margin-top: none;
  margin-left: none;
}