.container {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 750px;
    width: 1600px;
    padding-top: 2%;
  
  }
  
  .headEles {
    flex: 2;
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  
  .dates {
    flex: 1;
    display: flex;
    overflow-x: scroll;
    margin: 20px;
  }
  
  .dates::-webkit-scrollbar {
    display: none;
  }
  
  .selButton {
    align-items: center;
    margin: auto;
    margin-left: 10px;
    background-color: #eeeeeeb2;
    min-width: 200px;
    width: 40px;
    height: 100%;
    flex-grow: 1;
    border: none;
    border-radius: 5px;
  }
  
  .map{
    border-radius: 10px;
  }
  .selButton:hover {
    cursor: pointer;
  }
  
  .selButtons {
    align-items: center;
    margin: auto;
    margin-left: 10px;
    background-color: #cccccc;
    color: white;
    font-size: x-large;
    min-width: 200px;
    width: 100px;
    height: 100%;
    flex-grow: 1;
    border: none;
    border-radius: 5px;
  }
  
  .selButtons:hover {
    cursor: pointer;
    width: 55px;
    height: 100%;
  }
  
  .noneInfo {
    color: red;
    font-size: x-large;
  }
  
  .mainEles {
    flex: 20;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .map {
    flex: 3;
    height: 620px;
    margin: 20px;
  }
  
  .list {
    padding-top: 1%;
    flex: 1;
    background-color: #eeeeeeb2;
    height: 620px;
    margin: 20px;
    border-radius: 10px;
    overflow-y: scroll;
  }
  
  .schduleSite {
    margin-bottom: 5px;
  }
  
  .ele {
    margin: 5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgb(184, 184, 184);
    transition: all 0.3s ease-in-out;
  }
  .schduleTime{
    margin-bottom: 30px;

  }
  
  .eles {
    margin: 5%;
    transform: scale(1.2);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #cccccc;
    transition: all 0.3s ease-in-out;
  }
  
  .ele:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  
  }