.selButton {
    align-items: center;
    margin: auto;
    margin-left: 10px;
    background-color: orange;
    min-width: 100px;
    width: 50px;
    height: 70%;
    flex-grow: 1;
    border: none;
    border-radius: 15px;
  }
  
  .selButton:hover {
    background-color: yellow;
    cursor: pointer;
  }
  .selButtons {
    align-items: center;
    margin: auto;
    margin-left: 10px;
    background-color: #b2f76c;
    color: white;
    min-width: 100px;
    width: 50px;
    height: 70%;
    flex-grow: 1;
    border: none;
    border-radius: 15px;
  }
  
  .selButtons:hover {
    cursor: pointer;
    width: 55px;
    height: 75%;
  }
  .noneInfo{
    color:red;
    font-size: xx-large;
  }