/* ScheduleInfo.module.css */

.content {
    max-width: 100vw;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

.schedule {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.info {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.info p {
    margin: 10px 0;
    font-size: 16px;
}

.map {
    flex: 5;
}


/* MemberModal.module.css */

.modal {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 100;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.modal h2 {
    margin-bottom: 10px;
    color: #333;
}

.modal ul {
    list-style: none;
    padding: 0;
}

.modal li {
    margin: 5px 0;
}

.modal input {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
}

.modalButton {
    padding: 5px 10px;
    margin: 5px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.modal button:hover {
    background: #0056b3;
}